<launch>
<arg name="world_name" default="turtlebot3_stage_4"/>

<!--launch turtlebot3 gazebo world-->
<include file="$(find turtlebot3_gazebo)/launch/$(arg world_name).launch"/>

<!--launch turtuebot3 slam-->
<include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch"/>

<!--launch turtlebot3 teleoperator-->
<include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"/>

</launch>